# Introduction to Natural Language Processing

## Tutorial 1

In our last session we could observe some functionality about jupyter notebooks: `?` and also `!` as well as how to `import` libraries and how the `"hello world"` in Python looks like. 

Today, we will take a look at a couple of more details. Jupyter Notebooks are very useful, given that they allow to execute code in cells. If you hit `shift + enter`, that will execute the current cell where you are located. Additionally, you can include only text in markdown language or html, as in this cell or you can run code as in some cells below.

Let's begin...

# PYTHON BASICS

## Arrays and Hash Maps are called Lists and Dictionaries 

What we commonly know as an array is called in Python a list. Similarly we have also a dictionary as data structure which are like lookup tables. One interesting aspect here is that we can mix several types into this structures.

In [9]:
my_string = "TEST ABC"
my_integer = 42
my_slice = my_string[:3]
my_float = 3.5

In [10]:
my_list = [my_string, my_integer, my_slice, my_float]

In [11]:
print(my_list)

['TEST ABC', 42, 'TES', 3.5]

In [12]:
another_list = my_string.split(" ") + my_list

In [13]:
print(another_list)

['TEST', 'ABC', 'TEST ABC', 42, 'TES', 3.5]

In [14]:
my_list.append(my_string.split(" "))

In [15]:
print(my_list)

['TEST ABC', 42, 'TES', 3.5, ['TEST', 'ABC']]

In [20]:
my_dict = {"a": 1, "b":2, "c": 3, "d": my_list}

In [21]:
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': ['TEST ABC', 42, 'TES', 3.5, ['TEST', 'ABC']]}

## Defining Functions

Here we can start giving instructions and creating a recipe of what we want to obtain.

Let's say that we want a function to return always the last letter of a word in a string

In [24]:
this_string = "Introduction to Natural Language Processing, tutorial two"

In [31]:
def extract_last_letter(any_string):
    # here comes your code
    return letter_list

In [32]:
my_letter_list = extract_last_letter(this_string)

In [33]:
print(my_letter_list)

['n', 'o', 'l', 'e', ',', 'l', 'o']

## It's time for you to play around

Create a function that returns every word in a string in lowercase and and another one for uppercase

**Hint:** explore the funtions `upper` and `lower`

In [ ]:
def return_lower(any_string):
    # here comes your code

In [ ]:
print(return_lower(this_string))

In [ ]:
def return_upper(any_string):
    # here comes your code

In [ ]:
print(return_upper(this_string))

## Iterating

There are several ways of iterating, you can use the `enumerate()` method or you can combine `for`, `range` and the 
`length` of your type. Please make sure that you use meaningful names here. 

Let's look at an example let's create a function that returns a mapping of each word in a string and it's index

In [34]:
def map_word_to_index(any_string):
    word_list = any_string.split(" ")
    my_mapping = {}
    for index in range(len(word_list)):
        my_mapping[word_list[index]] = index
    return my_mapping

In [35]:
print(map_word_to_index(this_string))

{'Introduction': 0, 'to': 1, 'Natural': 2, 'Language': 3, 'Processing,': 4, 'tutorial': 5, 'two': 6}

Now: try to explore the `enumerate()` method and write a similar function to return a list with only words with *even* indexes.

In [ ]:
def extract_even_words(any_string):
    # here comes your code

In [36]:
def extract_even_words(any_string):
    # here comes your code
    return mapping

In [37]:
print(extract_even_words(this_string))

['Introduction', 'Natural', 'Processing,', 'two']

## Reading text files

We want to know is how to read files in Python. There are several posibilities of using `open()`, which is the function to work with files. My favorite is to use `with` as a safe option.

In [39]:
with open("tweet.txt", 'r') as my_file:
    for line in my_file:
        print(line)

Play Services bittet User um Erlaubnis für:\n\n* Before starting to scan for and broadcast beacons.\n* Before providing user keys to the app for uploading to the […] server once the user has been positively diagnosed with COVID-19.\n\n#CoronaApp dürfte das nicht verhindern können!

## Reading csv files

Take the survey.csv file as an example ...

In [2]:
import pandas as pd

In [42]:
# here comes your code

df = pd.read_csv("Survey.csv")
df.head(10)

,Alias,MSc. or BSc.,Study Program,Level of Experience (0 - 5) (Python),Level of Experience (0 - 5) (Programming),ML or AI Course? (ML/ AI/ None),Where are you? (City)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Marvin,BSc.,Data Science,2.0,3.0,None,Marburg
2,Sofía,BSc.,Informatik,1.0,4.0,None,Marburg
3,Buski,MSc.,Wirtschaftsinformatik,0.0,3.0,None,Marburg
4,Luckhard,MSc.,Data Science,3.0,4.0,ML,Hersfeld
5,Neufeld,MSc.,Informatik,2.0,4.0,ML,Marburg
6,Dzenana,MSc.,Informatik,4.0,4.0,ML&AI,Marburg
7,Balow,MSc.,Wirtschaftsinformatik,0.0,3.0,None,Marburg
8,Marius,MSc.,Data Science,1.0,3.0,ML,Marburg
9,Ihsan,MSc.,Wirtschaftsinformatik,2.0,2.0,ML & AI,Marburg